<%- include('layouts/head') -%>

    <div class='container'>
        <div class='row'>
            <h1 class='col'>All users table</h1>
        </div>
        <div class='row'>
            <div class='col'>






















            </div>
        </div>

    </div>

<%- include('layouts/foot') -%>